.all-menu {
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0,0.1);
    background-color: rgb(255, 255, 255);
    width: 90%;
    border-radius: 15px;
    margin-top: 80px;
    position: sticky;
    top: 66px;
    border: 1px solid #d0d0d0;
    z-index: 5;
}

.menu-item {
    display: flex;
    justify-content: space-evenly;

}

.save,
.applied,
.offer {
    margin: 20px;
    margin-top: 15px;
    margin-bottom: 15px;

    font-weight: 600;

}

.save a,
.applied a,
.offer a {
    color: #141B5F;
    font-weight: 500;
    
}

.save a:hover,
.applied a:hover,
.offer a:hover {
    color: #FF8C00;

}

.save a.active,
.applied a.active,
.offer a.active {
    color: #FF8C00;
    font-weight: 500;
    font-size: 20px;
}

.all-menu ul li a,
.all-menu ul li a:after,
.all-menu ul li a:before {
    transition: all .5s;
}





/*.try{
    height: 1000px;
    background-color: black;
}*/
.dev-list {
    min-height: 700px;
    height: auto;
    width: 90%;
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-top: 20px;
    border-radius: 15px;
    display: flex;
    white-space: nowrap;
    border: 1px solid #d0d0d0;
}

.left {
    min-height: 700px;
    height: auto;
    width: 33%;    
    border-top-left-radius: 15px;
    border-right: 1px solid #d0d0d0;
    position: relative;
    z-index: 0;
    white-space: nowrap;
    overflow-y: auto;
    
    .buttons{
        height: fit-content;
        width: 100%;
        padding: 15px;
        overflow: auto;
    }
    .button{
        border: 1px solid #d0d0d0;
        padding: 5px 10px;
        border-radius: 20px;
        background-color: #fff;
        color: #555;
    }
    .button:hover {
        background-color: #efefef;
        transition: all 0.3s ;
    }
    .active{
    background-color: #efefef;
    }

}


/*box all*/
.dev-detail-1 {
    height: 130px;
    width: 100%;
    margin-left: 20px;
    margin-right: 25px;
    border-bottom: 1px solid #d0d0d0;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    white-space: nowrap;

}

.dev-detail-1-inside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 120px;
    width: 70%;
    white-space: nowrap;
}

.dev-name {
    font-weight: 550;
    font-family: 'Poppins', sans-serif;
    white-space: nowrap;
    font-size: 20px;
}

.company-name {
    font-weight: 600;
    color: #141B5F;
    margin-bottom: 30px;
    white-space: nowrap;
}

.application {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    width: 180px;
    background-color: rgb(153, 153, 153);
    border-radius: 15px;
    white-space: nowrap;
}

.fa-circle-check {
    color: #47B749;
    justify-content: center;
    margin-top: 5px;
    white-space: nowrap;


}

.application-saved {
    color: #555;
    white-space: nowrap;

}

.dev-box1 {
    display: flex;
    flex-direction: column;

    white-space: nowrap;
}





/*box-1 */

.active-box {
    background-color: bisque;

    width: 100%;
    /*position: absolute;*/
    /*z-index: 0;*/
    /*border-top-left-radius: 15px;*/
    white-space: nowrap;

}



.dev-detail-2 {
    height: 160px;
    width: 100%;

    border-bottom: 1px solid #d0d0d0;

    padding-top: 20px;
    display: flex;
    flex-direction: row;
    padding-left: 22px;
    /* margin-right: 20px; */
    white-space: nowrap;
    z-index: -1;

}
.left > div:first-child{
    border-top-left-radius: inherit;
}
.dev-detail-2.active {
    background-color: #F0553711;
}

.dev-detail-2-inside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 120px;
    width: 70%;
    white-space: nowrap;
}



.company-name {
    font-weight: 600;
    font-size: 16px;
    color: #141B5F;
    margin-bottom: 30px;
    white-space: nowrap;
}

.application {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    width: fit-content;
    background-color: #fff;
    border: 1px solid #d0d0d0;
    border-radius: 15px;
    white-space: nowrap;
    padding: 5px 20px;
}

.fa-circle-check {
    color: #47B749;
    justify-content: center;
    margin-top: 5px;
    white-space: nowrap;

}

.fa-circle-xmark {
    color: red;
    justify-content: center;
    margin-top: 5px;
    white-space: nowrap;

}

.application-saved {
   color: #555;
    white-space: nowrap;
    font-size: 14px;

}

.dev-box2 {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}

.dev-box2-profile {
    height: 60px;
    width: 60px;
    background-color: #fff;
    border: 1px solid #d0d0d0;
    margin-bottom: 20px;
    margin-left: 19px;
    /* margin-right: 70px; */
    margin-top: 5px;
}

.dev-box2-a {
    font-size: 14px;
    margin-left: 15px;
}



.center-from-top {
    margin: 20px 0;
    min-height: 450px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    .job-card{
        margin: 10px;
    }
}





















































/*responsive design*/
/*iphone SE*/
@media all and (min-width:375px) {
    .save ,.applied,.offer{
        font-size: 12px;
      
    }
    
}
/*iphone XR*/
@media all and (min-width:414px) {
    .save,.applied,.offer{
        font-size: 14px;
    }
}
/*iphone 12 pro*/
@media all and (min-width:390px) {
    .save,.applied,.offer{
        font-size: 13px;
    }
}
/*samsung galaxy s8+*/
@media screen and (min-width:360px) {
    .save,.applied,.offer{
        font-size: 12px;
    }
}
/*samsung galaxy s20 ultra*/
@media screen and (min-width:412px) {
    .save,.applied,.offer{
        font-size: 14px;
    }
}
/*samsung galaxy s20 ultra*/
@media screen and (min-width:768px) {
    .save,.applied,.offer{
        font-size: 24px;
    }
}
@media screen and (min-width:786px) {
    .save,.applied,.offer{
        font-size: 28px;
    }
}
@media screen and (min-width:820px) {
    .save,.applied,.offer{
        font-size: 30px;
    }
}
@media screen and (min-width:1024px) {
    .save,.applied,.offer{
        font-size: 20px;
    }
}
@media screen and (min-width:912px) {
    .save,.applied,.offer{
        font-size: 28px;
    }
}
@media screen and (min-width:540px) {
    .save,.applied,.offer{
        font-size: 20px;
    }
}
@media screen and (min-width:344px) {
    .save,.applied,.offer{
        font-size: 10px;
    }
}
@media screen and (min-width:853px) {
    .save,.applied,.offer{
        font-size: 20px;
    }
}
@media screen and (min-width:412px) {
    .save,.applied,.offer{
        font-size: 14px;
    }
}
@media screen and (min-width:1024px) {
    .save,.applied,.offer{
        font-size: 18px;
    }
}
@media screen and (min-width:1280px) {
    .save,.applied,.offer{
        font-size: 18px;
    }
}
