
.scroll-bg{
    position: fixed;
    top: 60px;
    right: 2%;
    /*background-color: blue;*/
    background-color: rgb(255, 255, 255);
    min-width: 430px;
    max-width: 600px;
    display: none;
    flex-direction: row;
    border-radius: 15px;
    
    padding-bottom: 10px;
    
    z-index: 10;
    transition: all .5s;
    border: 1px solid #d0d0d0;
    box-shadow: 0px 0px 10px 0px #d0d0d0;
 }
 .scroll-div{
     width: 400px;
     /*background-color: rgb(57, 182, 53);*/
     height: 400px;
     overflow: auto;
    
    
 
 }
 .scroll-div:hover{
     overflow-y: auto;
 }
 .scroll-object{
     
     font-size: 14px;
     height: auto;
     /*background-color: burlywood;*/
     padding-bottom: 10px;
     border-bottom: 1px solid #d0d0d0;
     display: flex;
     flex-direction: row;
     padding-left: 10px;
     padding-top: 15px;
     padding-bottom: 15px;
     
 }
 
 .name{
     width: 100%;
 }
 .name h2{
     font-size: 16px;
     font-weight: 500;
     color: #141b5f;
 }

 .name p{
     font-size: 14px;
     font-weight: 500;
     color: #555;
 }
 .new{
     width: 30%;
     align-items: center;
     /*background-color: brown;*/
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .new p{
     padding: 1px 13px;
     border: 1px solid #141b5f;
     border-radius: 5px;
     color: #141b5f;
     font-size: 14px;
     cursor: pointer ;
     transition:     all .5s;
 }
 
 .new p:hover{
     background-color:   #141b5f;
     color:  #FFF;
 }
 #item:hover .scroll-bg{
     display: flex;
 }
 
 
 /* style for scroll bar*/
 ::-webkit-scrollbar{
     width: 10px;
     height: 10px;
 }
 
 ::-webkit-scrollbar-track{
     background-color: #d1e5ff;
     border-radius: 4px;
 }
 ::-webkit-scrollbar-thumb{
    background: #141b5f;
    border-radius: 4px;
    
 }
 
 .scroll-object:hover{
     background-color: #E1E4FF;
     z-index: 1;
 }
 
 span.badge {
     position: relative;
     top: -8px;
     right: 5px;
     padding: 3px 6px;
     border-radius: 50%;
     background-color: red;
     color: white;
     font-size: 16px;
     font-weight: 500;
     font-family: sans-serif;
 }